<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>sources</key>
	<array>
		<dict>
			<key>baseURL</key>
			<string>http://www.23us.com/</string>
			<key>searhURL</key>
			<string>http://zhannei.baidu.com/cse/search?q=%@&amp;s=8253726671271885340&amp;nsid=0&amp;p=%@</string>
			<key>shouldPretendAsComputer</key>
			<false/>
			<key>parsingPatterns</key>
			<dict>
				<key>getSearchBookResult</key>
				<dict>
					<key>requestEncoding</key>
					<string>utf-8</string>
					<key>responseEncoding</key>
					<string>utf-8</string>
					<key>firstPageIsZero</key>
					<true/>
					<key>userParamDic</key>
					<true/>
					<key>booklist</key>
					<string>&lt;div class=&quot;result-item result-game-item&quot;&gt;([\s\S]*?&lt;/p&gt;\s*?)&lt;/div&gt;</string>
					<key>bookTitle</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string></string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;a cpos=&quot;title&quot; href=&quot;[^\&quot;]*\&quot; title=&quot;([^\&quot;]*)&quot;</string>
					</dict>
					<key>bookLink</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string></string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;a cpos=&quot;img&quot; href=&quot;([^\&quot;]*)&quot;</string>
					</dict>
					<key>author</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;a cpos=&quot;author&quot;[^&gt;]*&gt;([^&lt;]*)&lt;/a&gt;</string>
					</dict>
					<key>imageSrc</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;img src=&quot;([^\&quot;]*)&quot;</string>
					</dict>
					<key>memo</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;p class=&quot;result-game-item-desc&quot;&gt;[^.]*..([\s\S]*?)&lt;/p&gt;</string>
					</dict>
				</dict>
				<key>getBookChapterList</key>
				<dict>
					<key>parsing</key>
					<string>&lt;td class=&quot;L&quot;&gt;&lt;a href=&quot;([^\&quot;]*)&quot;&gt;([^&lt;]*)&lt;/a&gt;</string>
					<key>requestEncoding</key>
					<string></string>
					<key>responseEncoding</key>
					<string>0x80000632</string>
				</dict>
				<key>getBookChapterDetail</key>
				<dict>
					<key>parsing</key>
					<string>&lt;dd id=&quot;contents&quot;&gt;([\s\S]*?)&lt;/dd&gt;</string>
					<key>requestEncoding</key>
					<string></string>
					<key>responseEncoding</key>
					<string>0x80000632</string>
				</dict>
				<key>getCategoryBooksResult</key>
				<dict>
					<key>userParamDic</key>
					<false/>
					<key>requestEncoding</key>
					<string></string>
					<key>responseEncoding</key>
					<string>0x80000632</string>
					<key>booklist</key>
					<string>&lt;tr bgcolor=&quot;#FFFFFF&quot;&gt;([\s\S]*?)&lt;/tr&gt;</string>
					<key>bookTitle</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string></string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;td class=&quot;L&quot;&gt;[\s\S]*?&lt;/a&gt;&lt;a [^&gt;]*&gt;(.*?)&lt;/a&gt;</string>
					</dict>
					<key>bookLink</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string></string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;a href=&quot;([^\&quot;]*)&quot; target=&quot;_blank&quot;&gt;</string>
					</dict>
					<key>author</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;td class=&quot;C&quot;&gt;(.*?)&lt;/td&gt;[\s\S]*?&lt;td class=&quot;R&quot;&gt;</string>
					</dict>
					<key>imageSrc</key>
					<dict>
						<key>inputKey</key>
						<string>bookLink</string>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>function getImageUrl(strBooklink)
{

var strs= new Array(); 
strs= strBooklink.split(&quot;/&quot;);  
var count = strs.length;
var strRet = &quot;http://www.23us.com/files/article/image/&quot;+strs[count-3]+&quot;/&quot;+strs[count-2]+&quot;/&quot;+strs[count-2]+&quot;s.jpg&quot;;
return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string>getImageUrl</string>
						<key>parsing</key>
						<string></string>
					</dict>
					<key>memo</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string></string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>baseURL</key>
			<string>http://www.7788xs.org/</string>
			<key>searhURL</key>
			<string>http://www.7788xs.org/modules/article/search.php?searchkey=%@&amp;t=1&amp;page=%@</string>
			<key>shouldPretendAsComputer</key>
			<false/>
			<key>parsingPatterns</key>
			<dict>
				<key>getSearchBookResult</key>
				<dict>
					<key>requestEncoding</key>
					<string>GB_18030_2000</string>
					<key>responseEncoding</key>
					<string>0x80000632</string>
					<key>firstPageIsZero</key>
					<false/>
					<key>userParamDic</key>
					<false/>
					<key>booklist</key>
					<string>&lt;div class=&quot;ml211&quot;&gt;([\s\S]*?&lt;div class=&quot;ml212&quot;&gt;[\s\S]*?)&lt;/div&gt;</string>
					<key>bookTitle</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string></string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;img alt=&quot;([^\&quot;]*)&quot; src=&quot;[^\&quot;]*&quot; /&gt;</string>
					</dict>
					<key>bookLink</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>function getBookLink(strSource)
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string>getBookLink</string>
						<key>parsing</key>
						<string>&lt;a href=&quot;([^\&quot;]*)&quot;&gt;&lt;img alt=&quot;[^\&quot;]*&quot; src=&quot;[^\&quot;]*&quot; /&gt;</string>
					</dict>
					<key>author</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;span&gt;作者：&lt;/span&gt;&lt;a href=&quot;[^\&quot;]*&quot;&gt;([^&lt;]*)&lt;/a&gt;</string>
					</dict>
					<key>imageSrc</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;img alt=&quot;[^\&quot;]*&quot; src=&quot;([^\&quot;]*)&quot;</string>
					</dict>
					<key>memo</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;dd&gt;(.*?)&lt;a</string>
					</dict>
				</dict>
				<key>getBookChapterList</key>
				<dict>
					<key>parsing</key>
					<string>&lt;dd&gt;&lt;a href=&quot;([^\&quot;]*)&quot;&gt;([\s\S]*?)&lt;/a&gt;&lt;/dd&gt;</string>
					<key>requestEncoding</key>
					<string></string>
					<key>responseEncoding</key>
					<string>0x80000632</string>
				</dict>
				<key>getBookChapterDetail</key>
				<dict>
					<key>parsing</key>
					<string>&lt;div id=&quot;content&quot;&gt;([\s\S]*?)&lt;/div&gt;</string>
					<key>requestEncoding</key>
					<string></string>
					<key>responseEncoding</key>
					<string>0x80000632</string>
				</dict>
				<key>getCategoryBooksResult</key>
				<dict>
					<key>userParamDic</key>
					<false/>
					<key>requestEncoding</key>
					<string></string>
					<key>responseEncoding</key>
					<string>0x80000632</string>
					<key>booklist</key>
					<string>&lt;div class=&quot;ml211&quot;&gt;([\s\S]*?&lt;div class=&quot;ml212&quot;&gt;[\s\S]*?)&lt;/div&gt;</string>
					<key>bookTitle</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string></string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;img alt=&quot;([^\&quot;]*)&quot; src=&quot;[^\&quot;]*&quot; /&gt;</string>
					</dict>
					<key>bookLink</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>function getBookLink(strSource)
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string>getBookLink</string>
						<key>parsing</key>
						<string>&lt;a href=&quot;([^\&quot;]*)&quot;&gt;&lt;img alt=&quot;[^\&quot;]*&quot; src=&quot;[^\&quot;]*&quot; /&gt;</string>
					</dict>
					<key>author</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;span&gt;作者：&lt;/span&gt;&lt;a href=&quot;[^\&quot;]*&quot;&gt;([^&lt;]*)&lt;/a&gt;</string>
					</dict>
					<key>imageSrc</key>
					<dict>
						<key>inputKey</key>
						<string></string>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;img alt=&quot;[^\&quot;]*&quot; src=&quot;([^\&quot;]*)&quot;</string>
					</dict>
					<key>memo</key>
					<dict>
						<key>inputParam</key>
						<string></string>
						<key>parsingFuntion</key>
						<string>
{
    var strRet = &quot;&quot;;
    strRet = strSource.replace(&quot;book&quot;,&quot;read&quot;);
    return strRet;
}</string>
						<key>parsingFuntionName</key>
						<string></string>
						<key>parsing</key>
						<string>&lt;dd&gt;(.*?)&lt;a</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
