<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>sources</key>
	<array>
		<dict>
			<key>baseURL</key>
			<string>http://www.23us.com/</string>
			<key>searhURL</key>
			<string>http://zhannei.baidu.com/cse/search?q=%@&amp;s=8253726671271885340&amp;nsid=0&amp;p=%@</string>
			<key>requestEncoding</key>
			<string>utf-8</string>
			<key>shouldPretendAsComputer</key>
			<false/>
			<key>parsingPatterns</key>
			<dict>
				<key>list</key>
				<string>&lt;div class=&quot;result-item result-game-item&quot;&gt;([\s\S]*?&lt;/p&gt;\s*?)&lt;/div&gt;</string>
				<key>title</key>
				<string>&lt;a cpos=&quot;title&quot; href=&quot;[^\&quot;]*\&quot; title=&quot;([^\&quot;]*)&quot;</string>
				<key>bookLink</key>
				<string>&lt;a cpos=&quot;img&quot; href=&quot;([^\&quot;]*)&quot;</string>
				<key>author</key>
				<string>&lt;a cpos=&quot;author&quot;[^&gt;]*&gt;([^&lt;]*)&lt;/a&gt;</string>
				<key>imageSrc</key>
				<string>&lt;img src=&quot;([^\&quot;]*)&quot;</string>
				<key>memo</key>
				<string>&lt;p class=&quot;result-game-item-desc&quot;&gt;[^.]*..([\s\S]*?)&lt;/p&gt;</string>
				<key>chapterContainter</key>
				<string>44</string>
				<key>chapterItem</key>
				<string>55</string>
				<key>chapterDetail</key>
				<string>66</string>
				<key>chapterContent</key>
				<string>77</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
