<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BookCategory</key>
	<array>
		<dict>
			<key>bgColor</key>
			<string>[64,96,112,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.txt99.cc/txt/list3-%d.html</string>
				<string>http://www.23us.com/class/1_%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/1_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>玄幻</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[40,98,90,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.sikushu.com/catalog/1-%d.html</string>
				<string>http://www.7788xs.net/sort1/%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/2_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>categoryname</key>
			<string>奇幻</string>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[123,82,135,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.7788xs.net/sort3/%d.html</string>
				<string>http://www.sikushu.com/catalog/3-%d.html</string>
				<string>http://www.txt99.cc/txt/list4-%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/5_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>categoryname</key>
			<string>都市</string>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[215,130,129,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.txt99.cc/txt/list2-%d.html</string>
				<string>http://www.23us.com/class/3_%d.html</string>
				<string>http://www.xiaoshuo2016.com/nvsheng/2_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>言情</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[46,69,85,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.sikushu.com/catalog/2-%d.html</string>
				<string>http://www.23us.com/class/2_%d.html</string>
				<string>http://www.txt99.cc/txt/list1-%d.html</string>
				<string>http://www.7788xs.net/sort2/%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/3_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>武侠</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[70,139,199,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.7788xs.net/sort10/%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/4_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>仙侠</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[106,200,134,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.7788xiaoshuo.com/list/144/%d.html</string>
				<string>http://www.xiaoshuo2016.com/nvsheng/3_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>校园</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[201,143,48,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.sikushu.com/catalog/4-%d.html</string>
				<string>http://www.txt99.cc/txt/list9-%d.html</string>
				<string>http://www.7788xs.net/sort4/%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/7_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>历史</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[162,45,29,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.23us.com/class/4_%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/8_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>军事</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[27,82,129,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.sikushu.com/catalog/7-%d.html</string>
				<string>http://www.txt99.cc/txt/list6-%d.html</string>
				<string>http://www.23us.com/class/7_%d.html</string>
				<string>http://www.7788xs.net/sort7/%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/9_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>科幻</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/110/%d.html</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[94,143,186,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.txt99.cc/txt/list7-%d.html</string>
				<string>http://www.23us.com/class/6_%d.html</string>
				<string>http://www.sikushu.com/catalog/5-%d.html</string>
				<string>http://www.7788xs.net/sort6/%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/12_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>网游</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[40,120,193,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.7788xiaoshuo.com/list/512/%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/13_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>竞技</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[210,179,148,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.sikushu.com/catalog/8-%d.html</string>
				<string>http://www.txt99.cc/txt/list8-%d.html</string>
				<string>http://www.7788xiaoshuo.com/list/515/%d.html</string>
				<string>http://www.xiaoshuo2016.com/nvsheng/6_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>同人</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[118,128,187,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.txt99.cc/txt/list14-%d.html</string>
				<string>http://www.7788xiaoshuo.com/list/448/%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>耽美</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[174,193,198,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.7788xiaoshuo.com/list/449/%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>短篇</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[30,30,30,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.xiaoshuo2016.com/all/10_lastupdate_0_0_0_0_0_0_%d.html</string>
				<string>http://www.sikushu.com/catalog/6-%d.html</string>
				<string>http://www.txt99.cc/txt/list10-%d.html</string>
				<string>http://www.23wx.com/class/8_%d.html</string>
				<string>http://www.7788xs.net/sort8/%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>恐怖</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/111/%d.html</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[140,165,185,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.23us.com/class/9_%d.html</string>
				<string>http://www.7788xs.net/sort9/%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>诗词</string>
			<key>description</key>
			<string>描述分类</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[200,89,108,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.sikushu.com/catalog/9-%d.html</string>
				<string>http://www.7788xiaoshuo.com/list/448/%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>categoryname</key>
			<string>女生</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/112/%d.html</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[108,128,128,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.xiaoshuo2016.com/nvsheng/5_lastupdate_0_0_0_0_0_0_%d.html</string>
				<string>http://www.txt99.cc/txt/list5-%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>categoryname</key>
			<string>穿越</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/112/%d.html</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[108,108,128,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.23us.com/class/5_%d.html</string>
				<string>http://www.txt99.cc/txt/list10-%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/11_lastupdate_0_0_0_0_0_0_%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>categoryname</key>
			<string>悬疑</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/112/%d.html</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[108,108,128,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.txt99.cc/txt/list11-%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>categoryname</key>
			<string>管理</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/112/%d.html</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[108,128,158,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.txt99.cc/txt/list12-%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>categoryname</key>
			<string>学习</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/112/%d.html</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>[128,128,128,1]</string>
			<key>urlAry</key>
			<array>
				<string>http://www.23us.com/class/10_%d.html</string>
				<string>http://www.xiaoshuo2016.com/all/14_lastupdate_0_0_0_0_0_0_%d.html</string>
				<string>http://www.sikushu.com/catalog/10-%d.html</string>
				<string>http://www.7788xiaoshuo.com/list/112/%d.html</string>
			</array>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>categoryname</key>
			<string>其他</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/112/%d.html</string>
		</dict>
	</array>
</dict>
</plist>
